@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

:root {
  /* Colors */
  /* Color Mode HSL(hue, saturation, lightness) */
  --first-color: "";
  --button-color: "";
  --button-color-alt: "";
  --title-color: "";
  --text-color: "";
  --text-color-light: "";
  --body-color: "";
  --container-color: #fff;
  --border-color: "";

  /* Font and Typography */
  /* .5rem = 8px | 1rem = 16px */
  --body-font: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body,
button,
input {
  font-family: var(--body-font);
}
body {
  margin: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
  border: none;
  outline: none;
}
